<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
.heading1{
margin-top : 200px;
margin-left : 550px;
color:olive;
}

.heading2{
margin-top : 20px;
margin-left : 400px;
color:green
}

span{
margin-left : 590px;
color:orange;
text-align: center;
font-size : 40px;
}
</style>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1 class="heading1">WELCOME</h1>
<h1 class ="heading2">Congrats, you are successfully registered...</h1>
<br>
<span th:text="${username}"></span>
</body>
</html>