<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
.heading1{
margin-top : 200px;
margin-left : 575px;
color:olive;
}

.heading2{
margin-top : 20px;
margin-left : 475px;
color:green
}

p{
margin-left : 575px;
color:orange;
font-size : 40px;
}
</style>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1 class = "heading1">WELCOME</h1><br>
<h1 class = "heading2">You are successfully logged in...</h1>
<p th:text="${session.username}"/>
</body>
</html>